APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

PAYSO_MERCHANT_ID=97453784
PAYSO_SECRET_KEY=
PAYSO_API_KEY=
PAYSO_PAYMENT_URL=https://payments.paysolutions.asia/payment
PAYSO_INQUIRY_URL=
PAYSO_RETURN_URL=http://mlm.golf4.orangeworkshop.info/payment/payso/return
PAYSO_POSTBACK_URL=http://mlm.golf4.orangeworkshop.info/api/payment/payso/postback
PAYSO_PRODUCT_DETAIL="eWallet Deposit"
PAYSO_DEFAULT_CUSTOMER_EMAIL=no-reply@maruay.co.th
PAYSO_CURRENCY_CODE=00
PAYSO_LANG=TH
PAYSO_REQUIRE_SIGNATURE=false

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
