body {
    font-family: 'prompt', sans-serif;
    font-size: 1em;
}

.fw-500 {
    font-weight: 500 !important;
}

.bg-opacity-20 {
    --bs-bg-opacity: 0.2;
}

.fs-12 {
    font-size: .75rem;
}

.page-content {
    padding-top: 80px;
    padding-bottom: 20px;
}

.borderR25 {
    border-radius: 25px;
}

.borderR10 {
    border-radius: 10px;
}

.borderR8 {
    border-radius: 8px;
}

a {
    text-decoration: none;
}

hr {
    background-color: #ababab;
}

th {
    font-weight: 500 !important;
}

thead tr th {
    text-align: center !important;
    vertical-align: middle;
}

table.dataTable>tbody>tr.child span.dtr-title {
    display: inline-block;
    min-width: 75px;
    font-weight: 600 !important;
}

.h-82 {
    height: 82px;
}

.btn {
    display: inline-flex;
    align-items: center;
}

.btn-icon {
    height: 38px;
}

/*-----------------------------------------
    UPLOAD STYLE
-------------------------------------------*/
.upload__wrap {
    padding-bottom: 0.9375rem;
    margin-bottom: 0.9375rem;
    border-bottom: 1px dotted #edeff0;
}

.upload__mess {
    border-left: solid 3px #ffb74d;
    padding-left: 0.5rem;
    color: #b5bac1;
}

.upload p {
    line-height: 2;
}

.upload p strong {
    color: #2f3640;
    padding-left: 0.3125rem;
}

.upload__item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 1.5625rem;
    margin-bottom: 1.5625rem;
}

.upload__del {
    display: block;
    position: absolute;
    right: -8px;
    top: -8px;
    width: 21px;
    height: 22px;
    background: url("http://timra.ru/portfolio/8_auto.uz/img/icons/delete-icon-copy.svg") 0 0 no-repeat;
    cursor: pointer;
    opacity: 0.8;
}

.upload__del:hover {
    opacity: 1;
}

.upload__img {
    width: 5.6875rem;
    height: 5.6875rem;
    -o-object-fit: contain;
    object-fit: contain;
}

.upload__btn {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 5.6875rem;
    height: 5.6875rem;
    line-height: 5.6875rem;
    border-radius: 2px;
    border: solid 0.5px #dee1e6;
    text-align: center;
    cursor: pointer;
    opacity: 0.6;
    overflow: hidden;
}

.upload__btn:after {
    content: "+";
    color: #dee1e6;
    font-size: 2.5rem;
    line-height: 5rem;
    cursor: pointer;
}

.upload__btn:hover {
    opacity: 0.99;
}

.upload__btn:active {
    box-shadow: inset 10px 10px 90px -30px rgba(0, 0, 0, 0.1);
}

.upload__input {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    z-index: 100;
}

.hidden_ms {
    display: none;
}

/*new upload*/
.file-input .file-input-wrapper {
    position: relative;
}

.file-input input {
    cursor: pointer;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.01;
    border: 0;
}

.file-input input:focus~.upload-cta {
    border-color: #0f3fd0;
}

.file-input .upload-cta {
    display: block;
    text-align: center;
    border: 1px dashed #b9b9b9;
    border-radius: 5px;
    padding: 2rem;
    max-width: 100%;
    line-height: 1.5;
    margin-bottom: 16px;
}

.file-input .upload-cta:before {
    display: block;
    width: 42px;
    height: 42px;
    margin: 0 auto 18px;
    background-size: contain;
    content: "";
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 26.5.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' fill='%23AE00FF' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill-rule:evenodd;clip-rule:evenodd;%7D%0A%3C/style%3E%3Cpath class='st0' d='M452.4,370.6c3.1,3.1,3.1,8.2,0,11.3c-3.1,3.1-8.2,3.1-11.3,0l-20.3-20.3v64.3c0,4.4-3.6,8-8,8s-8-3.6-8-8 v-64.3l-20.3,20.3c-3.2,3-8.3,2.8-11.3-0.4c-2.9-3.1-2.9-7.8,0-10.9l34-34c3.1-3.1,8.2-3.1,11.3,0L452.4,370.6z M495.4,394.1 c5.5-45.6-26.9-87.1-72.5-92.6c0,0,0,0,0,0c-3.4-0.4-6.8-0.6-10.2-0.6c-45.9,0.1-83.1,37.4-83,83.4c0.1,45.9,37.4,83.1,83.4,83 C455,467.2,490.3,435.8,495.4,394.1L495.4,394.1z M62.9,427h260.4c-23.7-49.4-2.9-108.6,46.5-132.3c20.2-9.7,43.1-12.3,65-7.3v-63 l-52.7-52.7l-109.3,78.8l32.6,22.8c3.7,2.5,4.6,7.4,2.2,11.1c-2.5,3.7-7.4,4.6-11.1,2.2c-0.1-0.1-0.2-0.1-0.3-0.2L132.1,171.3 L16,269.5v110.6C16,406,37,427,62.9,427L62.9,427z M62.9,44.8h325c25.9,0,46.9,21,46.9,46.9v110l-46.2-46.2 c-2.8-2.8-7.2-3.1-10.3-0.8l-119.3,86l-122.8-86.1c-3-2.1-7-1.9-9.8,0.4L16,248.5V91.7C16,65.8,37,44.8,62.9,44.8L62.9,44.8z M490.9,322.9c-10.5-13.4-24.3-23.9-40-30.4V91.7c0-34.7-28.2-62.9-62.9-62.9h-325C28.2,28.8,0,57,0,91.7v288.4 C0,414.8,28.2,443,62.9,443H333c0.6,0.8,1.1,1.5,1.7,2.2c33.8,43.1,96.1,50.7,139.2,16.9S524.7,366,490.9,322.9L490.9,322.9z M252.2,101.6c20.3,0,36.7,16.4,36.7,36.7S272.5,175,252.2,175c-20.3,0-36.7-16.4-36.7-36.7C215.6,118.1,232,101.7,252.2,101.6 L252.2,101.6z M252.2,191c-29.1,0-52.7-23.6-52.7-52.7s23.6-52.7,52.7-52.7s52.7,23.6,52.7,52.7c0,0,0,0,0,0 C304.9,167.4,281.3,190.9,252.2,191L252.2,191z'/%3E%3C/svg%3E");
}

.file-input .selected-files {
    list-style: none;
    margin: 0;
    padding: 0;
}

.file-input .selected-files li {
    background: #f6f9fd;
    border-radius: 5px;
    padding: 27px 72px 27px 30px;
    position: relative;
    margin-top: 8px;
    word-break: break-all;
}

.file-input .selected-files .remove {
    appearance: none;
    -webkit-appearance: none;
    display: block;
    position: absolute;
    border: 1px solid #9a9fa9;
    width: 16px;
    height: 16px;
    text-indent: 64px;
    white-space: nowrap;
    overflow: hidden;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    background: transparent;
    border-radius: 16px;
    outline: 0;
    cursor: pointer;
}

.file-input .selected-files .remove:focus {
    border-color: #103FD0;
}

.file-input .selected-files .remove:before,
.file-input .selected-files .remove:after {
    content: "";
    width: 1px;
    height: 10px;
    background-color: #364053;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
}

.file-input .selected-files .remove:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.file-input .selected-files .remove:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

/*-----------------------------------------
    COLOR STYLE
-------------------------------------------*/
:root {
    --c-purple1: 174, 0, 255;
    --c-purple2: 226, 129, 236;
    --c-purple3: 240, 216, 242;
    --c-pink: 214, 51, 132;
}

.bg-pink {
    background-color: rgba(var(--c-pink), var(--bs-bg-opacity));
}

.text-pink {
    color: rgba(var(--c-pink), 1);
}

.bg-Gpurple {
    background-image: linear-gradient(to left, #AE00FF, #E281EC);
}

.bg-login {
    background-image: url('../images/bg-login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-whiteLight {
    background-color: #FAFBFE;
}

.bg-purple1 {
    background-color: rgba(var(--c-purple1), var(--bs-bg-opacity)) !important;
}

.bg-purple2 {
    background-color: rgba(var(--c-purple2), var(--bs-bg-opacity)) !important;
}

.bg-purple3 {
    background-color: rgba(var(--c-purple3), var(--bs-bg-opacity)) !important;
}

.text-purple1 {
    color: rgba(var(--c-purple1), var(--bs-bg-opacity)) !important;
}

.text-purple2 {
    color: rgba(var(--c-purple2), var(--bs-bg-opacity)) !important;
}

.text-purple3 {
    color: rgba(var(--c-purple3), var(--bs-bg-opacity)) !important;
}

.text-p1 {
    color: rgba(var(--c-purple1), 1)
}

.linkNews {
    color: #000;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.linkNews span {
    text-decoration: underline;
}

.linkNews i {
    color: rgba(var(--c-purple1), 1);
    margin-left: 5px;
}

.linkNews:hover {
    color: rgba(var(--c-purple1), 1);
}

.alert-purple {
    background-color: rgba(var(--c-purple3), .5);
    border-color: rgba(var(--c-purple3), 1);
}

.alert-white {
    background-color: #fff;
    border-color: #F0D8F2;
}

/*----------------------------------------
    Cart
------------------------------------------*/
.plusminus {
    display: inline-block;
    position: relative;
    font-size: 0;
    overflow: hidden;
    border-radius: 3px;
    width: 44px;
    height: 132px;
}

.plusminus button {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
    background: lightgray;
    color: #000;
    font-size: 26px;
    line-height: 1;
    cursor: pointer;
    -moz-transition: color 200ms;
    -o-transition: color 200ms;
    -webkit-transition: color 200ms;
    transition: color 200ms;
}

.plusminus button:focus {
    outline: none;
    background: rgba(var(--orangeY), 1)
}

.plusminus button:disabled {
    background: #999;
    color: #ccc;
    cursor: default;
}

.plusminus button:first-child {
    top: 0px;
}

.plusminus button:first-child:before {
    content: "-";
}

.plusminus button:last-child {
    top: 0px;
}

.plusminus button:last-child:before {
    content: "+";
}

.plusminus input[type="number"] {
    position: absolute;
    width: calc(100% - 56px);
    height: 25px;
    top: 44px;
    margin: 0;
    border: 0;
    border-radius: 4px;
    font-size: 1rem;
    text-align: center;
    -moz-appearance: textfield;
    border: 1px solid rgba(0, 0, 0, .125)
}

.plusminus input[type="number"]::-webkit-outer-spin-button,
.plusminus input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.plusminus.horiz {
    width: 60%;
    height: 44px;
}

.plusminus.horiz button:first-child {
    left: 0;
}

.plusminus.horiz button:last-child {
    right: 0;
}

.plusminus.horiz:after {
    bottom: 0;
}

.plusminus.horiz input[type="number"] {
    position: absolute;
    top: 0;
    left: 28px;
}

/*-----------------------------------------
    Button STYLE
-------------------------------------------*/
.btn-wp {
    background-color: #fff;
    color: rgba(var(--c-purple1), 1)
}

.btn-p1 {
    background-color: rgba(var(--c-purple1), 1);
    color: #fff
}

.btn-p1:hover {
    background-color: #9200D7;
    color: #fff
}

.btn-p2 {
    background-color: rgba(var(--c-purple2), 1);
    color: #fff
}

.btn-p2:hover {
    background-color: #bc5dc7;
    color: #fff
}

.file-upload {
    position: relative;
    display: inline-block;
}

.file-upload__label {
    display: block;
    padding: 0.375rem 0.75rem;
    color: #fff;
    background: rgba(var(--c-purple1), 1);
    border-radius: 50px;
    transition: background 0.3s;
}

.file-upload__label:hover {
    cursor: pointer;
    background-color: #9200D7;
}

.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width: 0;
    height: 100%;
    opacity: 0;
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: rgba(var(--c-purple2), 1);
    border-color: rgba(var(--c-purple2), 1)
}

.nav-pills .nav-link {
    color: #000;
    background-color: #fff;
    border: 1px solid rgba(var(--c-purple2), 1);
    margin-right: 10px;
}

.nav-pills .nav-link:hover {
    color: #000;
    background-color: rgba(var(--c-purple2), .5);
    border: 1px solid rgba(var(--c-purple2), 1);
    margin-right: 10px;
}

/*-----------------------------------------
    NAVBAR STYLE
-------------------------------------------*/
.flagS {
    width: 18px;
    height: 18px;
}

.navbar-brand img {
    max-width: 100%;
    height: 50px;
}

#linkMenuTop .nav-link {
    color: #fff;
    background: rgba(255, 255, 255, .2);
    border-radius: 4px;
    width: 135px;
    text-align: center;
}

#linkMenuTop .nav-link:hover {
    background: rgba(255, 255, 255, .6);
    color: var(--c-purple1)
}

#linkMenuTop .nav-item.active .nav-link {
    background: rgba(255, 255, 255, 1);
    color: rgba(var(--c-purple1), 1);
}

#linkMenuTop .nav-item {
    margin-right: 10px;
}

.btnFlag {
    border-radius: 100%;
    padding: 0;
    border: 1px solid transparent;
    width: 28px;
    height: 28px;
    margin-right: 5px;
}

.btn-check:active+.btnFlag,
.btn-check:checked+.btnFlag,
.btnFlag.active,
.btnFlag:active,
.show>.btnFlag.dropdown-toggle {
    border-radius: 100%;
    padding: 0;
    background-color: transparent;
    border: 1px solid #fff;
    width: 28px;
    height: 28px;
    margin-right: 5px;
    justify-content: center;
}

.offcanvas-end {
    width: 300px !important;
}

.offcanvas-end .nav-link {
    background-color: rgba(var(--c-purple2), .2);
    color: #000;
    border-radius: 8px;
    margin-bottom: 5px;
}

.offcanvas-end .nav-link:hover {
    background-color: rgba(var(--c-purple2), .5);
}

/*-----------------------------------------
    Footer
-------------------------------------------*/
.footer {
    color: #74788d;
    height: 60px;
    background-color: #f2f2f5;
    font-size: .875rem;
}

/*-----------------------------------------
    CARD STYLE
-------------------------------------------*/
.cardLogin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    padding: 3rem;
    max-width: 100%;
}

.card-box {
    background-color: #fff;
    border: 0 !important;
    box-shadow: 0 16px 40px rgba(0, 0, 0, .04);
    -webkit-box-shadow: 0 16px 40px rgba(0, 0, 0, .1);
}

.card-box .card-footer .label-xs {
    font-size: .875rem;
    font-weight: 500;
}

.card-boxDrp {
    background-color: #fff;
    border: 0 !important;
    box-shadow: 0 16px 40px rgba(0, 0, 0, .04);
    -webkit-box-shadow: 0 16px 40px rgba(0, 0, 0, .1);
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.card-boxDrp .iconFlex {
    width: 46px;
    height: 46px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-boxDrp.dropdown-toggle::after {
    display: block;
    margin-left: 0.255em;
    vertical-align: top;
    content: "";
    border-top: 0.4em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    position: absolute;
    top: 18px;
    right: 18px;
}

.cardL {
    border: 0 !important;
    box-shadow: 0 16px 40px rgba(0, 0, 0, .04);
    -webkit-box-shadow: 0 16px 40px rgba(0, 0, 0, .1);
    height: 100px;
    color: #000;
    height: 132px;
}

.cardL .iconFlex {
    width: 65px;
    height: 65px;
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardNewsH .box-imageNews {
    overflow: hidden;
    height: 227.19px;
    width: 100%;
}

.cardNewsH .box-imageNews img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 300ms linear;
}

.cardNewsH:hover .box-imageNews img {
    transform: scale(1.05)
}

.cardNewsH .card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.cardNewsH .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: darkgray;
}

.cardNewsH:hover .card-title {
    color: rgba(var(--c-purple1), 1);
}

/*----------------------------------------
    STEP STYLE
--------------------------------------------*/
#progressbar {
    display: flex;
    list-style: none;
    width: 100%;
    text-align: center;
    padding-left: 0;
}

#progressbar li {
    width: calc(100% / 7);
}

#progressbar li.active button {
    background-color: rgba(var(--c-purple2), 1);
}

#progressbar p {
    margin-bottom: 5px;
}

#progressbar button {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

#progressbar button.btn-position {
    background-color: var(--bs-primary);
}

#progressbar button.btn-position:hover {
    background-color: #0757cd;
}

#progressbar button.btn-choose {
    background-color: green;
}

#progressbar button.btn-choose:hover {
    background-color: #006200;
}

#progressbar .box-choose {
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px dashed gray;
}

#progressbar .box-choose ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 10px;
}

#progressbar .box-choose li {
    width: 100%;
}

#progressbar .l1 {
    position: relative;
    padding-top: 10px
}

#progressbar .l1:nth-child(2) {
    padding-top: 0;
}

#progressbar .l1:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 87%;
    background: #000;
    top: 46%;
    right: -45%;
    transform: translate(0, -50%);
}

#progressbar .l1:last-child:before {
    width: 0;
}

#progressbar .l1:nth-child(1):before {
    width: 42%;
    right: 0%;
}

#progressbar .l1:nth-child(2):before {
    width: 42%;
    right: -42%;
}

#dropUser.dropdown-menu {
    min-width: 8rem;
    padding: 0.25rem 0;
    margin: 0;
    font-size: 1rem;
}

#dropUser .dropdown-item {
    padding: 0.25rem .5rem;
}

#btnLinkMenuTop.navbar-toggler {
    padding: 0.25rem 0.25rem;
    border: 1px solid #fff;
    margin-left: 5px;
}

/*==================================
    TIMELINE
==================================*/
/*-- GENERAL STYLES
------------------------------*/
.timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

/*----- TIMELINE ITEM -----*/
.timeline-item {
    padding-left: 40px;
    position: relative;
}

.timeline-item:last-child {
    padding-bottom: 0;
}

/*----- TIMELINE INFO -----*/
.timeline-info {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 0.5em 0;
    text-transform: uppercase;
    white-space: nowrap;
}

/*----- TIMELINE MARKER -----*/
.timeline-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
}

.timeline-marker:before {
    background: rgba(var(--c-purple2), 1);
    ;
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 0;
    z-index: 1;
    width: 15px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.timeline-marker:after {
    content: "";
    width: 1px;
    background: #CCD5DB;
    display: block;
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 6px;
}

.timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    border: 3px solid rgba(var(--c-purple2), 1);
    ;
}

/*----- TIMELINE CONTENT -----*/
.timeline-content {
    padding-bottom: 40px;
}

.timeline-content p:last-child {
    margin-bottom: 0;
}

/*----------------------------------------------
    MOD: MARKER OUTLINE
----------------------------------------------*/
.marker-outline .timeline-marker:before {
    background: transparent;
    border-color: rgba(var(--c-purple2), 1);
}

.marker-outline .timeline-item:hover .timeline-marker:before {
    background: rgba(var(--c-purple2), 1);
}

/*-----------------------------------------
    RESPONSIVE
-------------------------------------------*/
@media screen and (max-width:767px) {
    .page-content {
        padding-top: 80px;
    }

    .cardL .iconFlex {
        width: 40px;
        height: 40px;
        margin-bottom: 5px;
    }

    .cardL .d-flex {
        flex-direction: column;
    }

    .cardL .flex-shrink-0 {
        width: 100%;
    }

    .cardL .flex-grow-1.ms-3 {
        margin-left: 0px !important;
    }

    .cardL .flex-grow-1 h5 {
        font-size: 14px;
    }

    .box-product {
        border-bottom: 1px solid lightgray;
    }

    .cardNewsH .box-imageNews {
        height: 160px;
    }

    #linkMenuTop .nav-link {
        width: 100%;
        margin-bottom: 5px;
    }

    #progressbar {
        flex-direction: column;
    }

    #progressbar li {
        width: 100px;
        display: flex;
        align-items: center;
        padding-left: 10px;
    }

    #progressbar li p {
        margin-left: 5px;
    }

    #progressbar .l1:nth-child(2) {
        padding-top: 0;
        width: 100%;
        text-align: start;
    }

    #progressbar .box-choose {
        width: 110%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: -10px;
    }

    #progressbar .box-choose ul {
        flex-direction: column;
        margin-bottom: 0;
    }

    #progressbar .box-choose ul li {
        width: 100px;
        text-align: center;
        margin-bottom: 10px;
    }

    #progressbar .box-choose ul li:nth-child(3) {
        margin-bottom: 0;
    }

    .textChooseS {
        position: absolute;
        right: 10px;
        top: 42.5%;
    }

    #progressbar .l1:nth-child(1):before {
        width: 1px;
        right: 0%;
        height: 10px;
        top: 110%
    }

    #progressbar .l1:nth-child(2):before {
        width: 1px;
        right: 0%;
        left: 30px;
        height: 20px;
        top: 100%;
    }

    #progressbar .l1:before {
        position: absolute;
        content: '';
        height: 60%;
        width: 1px;
        top: 65px;
        left: 30%;
    }
}

@media screen and (min-width:320px) and (max-width:374px) {
    .cardL {
        height: 190px;
    }
}

@media screen and (min-width:375px) and (max-width:413px) {
    .cardL {
        height: 148px;
    }
}

@media screen and (min-width:414px) and (max-width:424px) {
    .cardL {
        height: 155px;
    }
}

@media screen and (min-width:425px) and (max-width:767px) {
    .cardL {
        height: 155px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    #progressbar .l1:nth-child(2) {
        padding-top: 0;
        width: 200px;
    }

    #progressbar .l1:before {
        width: 73%;
    }

    #progressbar .l1:nth-child(1):before {
        width: 30%;
        right: 0%;
    }
}

@media screen and (min-width:1024px) and (max-width:1279px) {}

@media screen and (min-width:1280px) and (max-width:1359px) {}

@media screen and (min-width:1360px) and (max-width:1439px) {}

@media screen and (min-width:1440px) and (max-width:1599px) {}

@media screen and (min-width:1600px) and (max-width:1919px) {}

@media screen and (min-width:1920px) and (max-width:2559px) {}

@media screen and (min-width:2560px) {}